
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/buttons";
@import "components/composition";
@import "components/featueres-box.scss";
@import "components/card.scss";
@import "components/story.scss";
@import "components/bg-video.scss";
@import "components/form.scss";

@import "layout/header";


@import "layout/grid";









