.popup {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color-black, $alpha: .8);
    z-index: 2999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    

    &_content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, $alpha: .2);
        border-radius: 4px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%,-50%) scale(.25);
        transition: all .5s .2s;

        @include respond(tab-port) {
            display: inline-block;
        }
    }

    &_left {
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-port) {
            display: inline-block;
            width: 100%;
            margin: 5px;
        }
    }

    &_right {
        width: 66.6666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            display: inline-block;
            width: 100%;
        }
    }

    &_img {
        display: block;
        width: 100%;
        @include respond(tab-port) {
            display: inline-block;
            width: 49%;
        }
    }

    &_text {
        font-size: 1.4rem;
        margin-bottom: 3.5rem;

        -moz-column-count: 2;
        -moz-column-gap: 6rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 6rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target &_content {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &_close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 1rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}